img{
    border-radius: 160px;
}
h1{
    font-family: Georgia , Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: darkgreen;
    text-align: center;
}
body{
    font-family: Georgia , Times, serif;
}
ul{
    list-style-type: square;
    margin-left: 5%;
    border: 1pt dotted gray;
    width: 30%;
}
